<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Roost</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body> 
  <nav><a href="/login"><img id="logo" src="/assets/img/logo.png" alt="face logo"/></a>
    <section id="loginNav"></section>
  </nav>
  
  <section id="advertisement"></section>

  <section id="videoPlayer">
  </section>

  <div id="roostMessage" class='hidden'>
    <img id="speech" src="/assets/img/speech.png" alt="speech box"/>
    <h3><span id="errorMessage"></span></h3>
  </div>
  <script src="/assets/viewerBundle.js"></script>
</body>
</html>
